body {
  background-image: url("http://wlpgot.com/images/wall-game-of-thrones-23.jpg");
  background-size: cover;
}

#game-start {
  width: 800px; 
  height: 720px;
  background-image: url('lib/images/defend-the-wall-breakout-game-start.gif');
  display: block;
  margin: auto;
}

#get-ready {
  width: 600px; 
  height: 520px;
  background-image: url('lib/images/game-transition-get-ready.gif');
  display: none;
  margin: auto;
  position: relative;
  top: 100px;
  z-index: 1;
}

#death-1 {
  width: 600px; 
  height: 520px;
  background-image: url('lib/images/game-transition-death1.gif');
  display: none;
  margin: auto;
  position: relative;
  top: 100px;
  z-index: 1;
}

#death-2 {
  width: 600px; 
  height: 520px;
  background-image: url('lib/images/game-transition-death2.gif');
  display: none;
  margin: auto;
  position: relative;
  top: 100px;
  z-index: 1;
}

#game-over {
  width: 800px; 
  height: 720px;
  background-image: url('lib/images/game-time-game-over-overlay.gif');
  display: none;
  margin: auto;
}

#game {
  border: 3px solid #586BA4;
  margin: auto;
  display: none;
}


#images {
	display: none;
}