body {
  background-image: url("http://wlpgot.com/images/wall-game-of-thrones-23.jpg");
  background-size: cover;
}

#game-start {
  width: 800px; 
  height: 720px;
  background-image: url('lib/images/defend-the-wall-breakout-game-start.gif');
  display: block;
  margin: auto;
}

#game-over {
  width: 800px; 
  height: 720px;
  background-image: url('lib/images/game-time-game-over-overlay.gif');
  display: none;
  margin: auto;
}

#game {
  border: 3px solid #586BA4;
  margin: auto;
  display: none;
}


#images {
	display: none;
}